.movie {
  height: 350px;
  margin: 20px 0;
  margin-left: 10%;
  padding: 0;
  display: flex;
  width: 80%;
  background-color: #eee;
  justify-content: space-between;
  position: relative;
  transition: all 0.3s;

  &:hover {
    transform: translateY(-3px) scale(1.01);
    box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.2);
  }

  &-details {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: center;

    &-info {
      p {
        margin: 0px;
      }

      &-title {
        font-size: 45px;
        letter-spacing: 2px;
        font-weight: 100;
      }
    }

    &-go-to {
      button {
        height: 45px;
        font-size: 18px;
        width: 200px;
        border-radius: 10px;
        outline: none;
        color: #327ab6;
        background-color: transparent;
        border: 1px solid #327ab6;

        &:hover {
          background-color: #327ab6;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  &-poster {
    margin: 15px;

    img {
      height: 100%;
    }
  }

  &-go-to {
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: -5px;
    right: -5px;
  }
}

.backButton {
  height: 40px;
  width: 100px;
  position: relative;
  top: 15px;
  left: 15px;
  border-radius: 5px;
  border: 1px solid #327ab6;
  font-size: 16px;
  font-weight: 100;
  outline: none;
  color:#111;
  letter-spacing: 3px;
  color: #327ab6;

  &:hover {
      background: #327ab6;
      color: #eee;
  }
}

.movie-search {

  &-input {
      width: 50%;
      height: 75px;
      border: none;
      border-radius: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 50px;
      background:#eee;
      outline: none;
      margin-left: 25%;
      margin-top: 15px;
      &:focus{
        border-bottom: #327ab6 solid 3px;
        padding-left: 5px;
      }
  }
}

@media only screen and (max-width: 950px) {
  .movie-search-input{
    height: 60px;
    font-size: 40px;
  }
}
@media only screen and (max-width: 700px) {
  .movie-search-input{
    height: 45px;
    font-size: 25px;
  }
}
@media only screen and (max-width: 700px) {
  .movie-search-input{
    width: 80%;
  }
}
