<!--
   The HTML for a component, you can see that it is part of the search
  component.
-->

<div class="movie-search" *ngIf="!movie_results.length">
  <input (keydown)="onKeydown($event)" #movies class="movie-search-input" type="text" placeholder="Enter Movie Title">
  <button class="movie-search-button" (click)="getMovie(movies, page)">Search</button>
</div>

<app-results
  *ngIf="movie_results && movie_results.length"
  [movie_results]="movie_results"
  (someEventName)="anotherFunction($event)">
</app-results>

