// this is sass, a css pre-processor
// it has its own syntax which makes it 
// easy to work with and allows for nesting,
// and using operators like & to link class names
.movie-search {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-input {
        width: 50%;
        height: 75px;
        border-radius: 2px;
        font-size: 50px;
    }

    &-button {
        height: 50px;
        width: 250px;
        border-radius: 10px;
        border: 1px solid #327ab6;
        font-size: 22px;
        font-weight: 100;
        outline: none;
        margin: 20px 0px;
        letter-spacing: 3px;
        color: #327ab6;

        &:hover {
            background: #327ab6;
            color: #ffffff;
            cursor: pointer;
        }
    }
}